.root {
    -fx-background-color: #ecfccb;
    -fx-font-family: "Gill Sans", sans-serif;
    -fx-accent: #a3e635;
    -fx-focus-color: #a3e635;
}

.button {
    -fx-background-color: #a3e635;
}

.button:hover {
    -fx-cursor: hand;
}

.table-view {
    -fx-background-color: transparent;
    -fx-padding: 10px;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #bef264;
    -fx-background-radius: 7px 7px 0px 0px;

}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell:hover {
    -fx-background-color: #bef264;
}

#errorTitle, #errorAuthor, #errorGenre, #errorYear {
    -fx-text-fill: "red";
}







