.root {
    -fx-background-color: #ecfdf5;
    -fx-font-family: "Gill Sans", sans-serif;
}

#addBtn {
    -fx-background-color: RGB(61, 150, 9);
}

#delBtn {
    -fx-background-color: RGB(191, 4, 35);
}


.button {
    -fx-text-fill: "white";
}

.button:hover {
    -fx-cursor: hand;
}

.text-field {
    -fx-faint-focus-color: RGB(94, 94, 94);

}

.table-row-cell {
    -fx-background-color: #86efac;
}

.table-row-cell:odd {
    -fx-background-color: #bbf7d0;
}

.table-view, .column-header {
    -fx-focus-color: RGB(94, 94, 94);
    -fx-background-color: #dcfce7;

}

.table-row-cell:selected {
    -fx-background-color: #34d399;
}

.table-view .column-header {
    -fx-background-color: #bbf7d0;
}


#errorTitle, #errorAuthor, #errorGenre, #errorYear {
    -fx-text-fill: "red";
}